.lp_section5{
margin-top: 8rem;
}

.lp_section5_content{

}

.upper_content{
    display: flex;
    justify-content: center;
}

.upper_content button:first-child{
    margin: 0 1rem 0 0;
    background: #27BABA;
box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
border-radius: 60px;
color: white;
 padding: 20px 100px;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
text-align: center;

}

.upper_content button:nth-child(2){
    background: #184DBD;
box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
border-radius: 60px;
 padding: 20px 100px;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
text-align: center;
 margin: 0 0 0  1rem;
}

.lower_content{
    display: flex;
    justify-content: center;
}


.banner_downloads {
    margin-top: 3rem;
    display: flex !important;
   
}
.appstore {
   
border-radius: 5px;
background-color: #171717;
display: flex;
margin: 0rem .5rem;
padding: .5rem;
}
.appstore img {
    margin-right: 1rem;
  height: 51px;
    width: 51px;


}

.appstore div {
    display: flex;
    flex-direction: column;
}
.appstore p:first-child{
   
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.4399999976158142px;
text-align: left;
color: #FFFFFFDE;
}

.appstore p:nth-child(2){
    
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.4399999976158142px;
color: #FFFFFFDE;

}

.playstore {
   
border-radius: 5px;
background-color: #171717;
display: flex;
margin: 0rem .5rem;
padding: .5rem;
}

.playstore img {
    margin-right: 1rem;
    height: 51px;
    width: 51px;
}



.playstore p:first-child{
   
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.4399999976158142px;
text-align: left;
color: #FFFFFFDE;
}

.playstore p:nth-child(2){
    
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.4399999976158142px;
color: #FFFFFFDE;

}

@media (max-width:950px ) {
    .upper_content button:first-child{
   font-size: 14px;
 padding: 20px 100px;


}

.upper_content button:nth-child(2){
   font-size: 14px;
 padding: 20px 100px;

}
}

@media (max-width:799px ) {
    .upper_content{
        display: flex;
        flex-direction: column;
    }
    .upper_content button:first-child{
   font-size: 16px;
 padding: 20px 100px;
 margin: 1rem 0;


}

.upper_content button:nth-child(2){
   font-size: 16px;
 padding: 20px 100px;
margin: 1rem 0;
}
}
@media (max-width: 550px) {
      .appstore p:first-child {
    font-size: 12px;
  }

  .appstore p:nth-child(2) {
    font-size: 16px;
  }

  .playstore p:first-child {
    font-size: 12px;
  }

  .playstore p:nth-child(2) {
    font-size: 16px;
  } 
}

@media (max-width: 465px) {
    .banner_downloads{
        
        flex-direction: column;
    }
    .appstore, .playstore {
        margin: 1rem 0;
    }

}
@media (max-width:450px ) {
    
    .upper_content button:first-child{
   font-size: 12px;
padding: 20px 50px;


}

.upper_content button:nth-child(2){
   font-size: 12px;
padding: 20px 50px;
}
}