
.my_nav{
    padding: .5rem 7rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 3;
}
.nav_content {
display: flex;
justify-content: space-between;
align-items: center;


}
.menu_open {
    display: none;
}
.links {
display: flex;
align-items: center;
}

.links a {
    margin: 0 2rem;
    color: #000000DE;
    font-size: 16px;
    text-transform: capitalize
;
}

.links button{
    font-size: 16px;
    text-transform: capitalize
}





@media (max-width: 1200px) {
    .my_nav{
        padding: .5rem 0rem;
    }
}

@media (max-width: 1150px) {
    .my_nav{
        padding: .5rem 0rem;
    }
}
@media (max-width: 950px) {
    .links{
        display: none;
    }
    .menu_open {
        display: inline-flex;
    }
}